<!-- every page will contain this footer -->

<footer id="footerSelf" class="footer">
 <p class="text-center text-muted">GPL 3.0   <a href="https://www.github.com/DipakDA/">Dipak Agrawal</a></p>

</footer>
