<!-- the head partial for the entire project -->

<head>
  <meta charset="utf-8">
  <title>LMS - Login</title>
  <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
  <link rel="stylesheet" href="/STYLE/cssStyles.css">
  <script src="/JS/bootstrap.min.js"></script>
  <script src="/STYLE/popper.js"></script>
  <script src="/STYLE/jquery.js"></script>
</head>
