<!-- views/partials/navbar.ejs -->

<div class="topBar">
  <!-- Top blue line that tells logged in or not -->
  <nav class="navbar navbar-light blue">
    <span class="navbar-brand mb-0 h1">Moodle</span>
  </nav>
</div>

<div class="container-fluid" style="margin-top: 15px;">
  <!-- Top bits image -->
  <span id = "topImage">
    <img style="display: inline-block" src="/IMAGES/bitsLogo.png">
  </span>
  <span id="LMSUp">
    <h1>BITS Pilani, KK Birla Goa Campus</h1>
    <h2>Learning Management System (LMS)</h2>
  </span>
</div>
