<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/login">My Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        My Profile
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">View Profile</a>
        <a class="dropdown-item" href="#">Forum Posts</a>
        <a class="dropdown-item" href="#">Messages</a>
      </div>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        My Courses
      </a>
      <!-- add the classes that the guy is a part of -->
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">TBD</a>
        <a class="dropdown-item" href="#">TBD</a>
        <a class="dropdown-item" href="#">TBD</a>
      </div>
    </li>
  </ul>
</nav>
