<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <p> This is a trial run </p>

    <% include ../partials/footer %>
  </body>
</html>
